extends layout

block content
  h1= title
  
  if error
    div#error= error
  else
    div#timingswrap
      if data.length == 0
        span No apps found
      else
        -for (var i = 0; i < data.length; i++) {
          h2(id=data[i].app_id)= data[i].name
          div.unitswrap(for=data[i].app_id)
          -for (var j = 0; j < data[i].units.length; j++) {
            a(href=baseurl + data[i].units[j].unit)= data[i].units[j].unit
              span= (data[i].units[j].average) + ' ms'
          - }
        - }